
.Navbar {
  background-color: #1f1f1e;
  font-size: 1.1rem;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 20px;
  z-index: 10000;
}

.menu {
  display: flex;
  width: 95%;
  margin-left: 3%;
  margin-right: 10%;
  height: 20px;
}

.logo {
  color: #FC8F35;
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  text-shadow: 2px 7px 12px grey;

}

.navigation a {
  color: white;
  text-decoration: none;
  margin-right: 40px;
}

.navigation a:hover {
  color: lightgray;
  text-decoration: none;
  margin-right: 40px;
}

.navigation {
  position: absolute;
  right: 0;
  margin: 0;
}

.navigation ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li{
  float: left;
  position: relative;
}

.Navbar .navigation .MuiSvgIcon-root {
  vertical-align: sub;
}