.UploadBook {
  background: #141414;
  box-sizing: border-box;
  padding-top: 40px;
  height: 900px;
  width: 100%;
  padding-top: 100px;
}

.UploadBook form {
  width: 60%;
  height: 90%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fc8f35;
  box-shadow: 0px 1px 15px 1px rgba(255, 166, 0, 0.33);
}

.UploadBook input {
  margin: 20px 0;
  text-align: center;
  width: 50%;
  padding: 8px;
  border: 1px solid lightgray;
  box-shadow: 4px 4px 15px -11px #fc8f35;
  font-size: 16px;
}

.UploadBook textarea {
  font-size: 12px;
  resize: none;
  margin: 20px 0;
  text-align: center;
  width: 50%;
  height: 100px;
  padding: 10px;
  border: 1px solid lightgray;
  box-shadow: 4px 4px 15px -11px #000000;
}

.UploadBook select {
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  box-shadow: 4px 4px 15px -11px #000000;
  font-size: 16px;
}

.UploadBook a {
  background-color: #fc8f35;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 4px 4px 15px -11px #000000;
  font-weight: bold;
  cursor: pointer;
}
